<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PortFolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body data-spy="scroll" data-target=".navbar">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#id1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><strong>Portfolio</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="id1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#About">About Me</a></li>
                    <li><a href="#Skills">Skills</a></li>
                    <li><a href="#Projects">Projects</a></li>
                    <li><a href="#Contacts">Contacts</a></li>
                </ul>

            </div>
        </div>

    </nav>

    <!--     
        <div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="jumboh1" ><em>About Me</em></h1>
        <div id="About">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="aboutdata">
                            <div class="card bg-white">
                                <div class="card-title my-5">
                                    <div class="media">
                                        <img src="https://user-images.githubusercontent.com/30859788/68769102-c70b3080-0649-11ea-831f-9a447019ee53.jpg" width="250" height="250" class="img-fluid rounded-top mx-5">
                                        <div class="media-body">
                                                <h1 class="display-4 ml-5"> <em>hi there!</em></h1>
                                                <p>Welcome to my portfolio website!</p>
                                                <p>I am Ambesh Tiwari ,23 year old MERN stack developer.</p> 
                                                <p>Besides coding i like Music and Soccer.</p>
                                                <p><em>Education</em></p>
                                                <ul>
                                                    <li>Btech CSE from MDU 60%</li>
                                                    <li>12th CBSE PCM 83%</li>
                                                    <li>10th CBSE 74%</li>
                                                </div>
                                                <h2>Feel free to contact me:-</h2>
                                                <p>Email:ambeshtiwari96@gmail.com</p>
                                                <p>mobile no. 9555339788</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <hr> -->

    <div class="jumbotron text-center">
        <h1 class="jumboh1"><em>Hi there!</em></h1>
        <p><em>welcome to my portfolio website</em></p>
        <div class="flash"><%=flashMessage%></div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div id="About"></div>
            <div class="row">
                <div class="col-md-7">
                    <div class="card-bg-white">
                        <div class="media">
                            <img src="https://user-images.githubusercontent.com/30859788/68769102-c70b3080-0649-11ea-831f-9a447019ee53.jpg"
                                width="250" height="250" class="img-fluid rounded-top mx-5">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th class="row">
                                        <td>
                                            <h2>Name:</h2>
                                        </td>
                                        <td>
                                            <h2>Ambesh Tiwari</h2>
                                        </td>
                                        </th>
                                    </tr>
                                    <tr>
                                            <th class="row">
                                            <td>
                                                <h2>age:</h2>
                                            </td>
                                            <td>
                                                <h2>23</h2>
                                            </td>
                                            </th>
                                        </tr>
                                    <tr>
                                        <th class="row">
                                        <td>
                                            <h2>email:</h2>
                                        </td>
                                        <td>
                                            <h2>ambeshtiwari96@gmail.com</h2>
                                        </td>
                                        </th>
                                    </tr>
                                    <tr>
                                            <th class="row">
                                            <td>
                                                <h2>phone:</h2>
                                            </td>
                                            <td>
                                                <h2>9555339788</h2>
                                            </td>
                                            </th>
                                        </tr>
                                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               
                <div class="card-bg-white">
                        <div class="media">
    <img src="https://user-images.githubusercontent.com/30859788/68831553-a89e4700-06d4-11ea-9f44-10accfafc2c2.png" width="250" height="250" class="img-fluid rounded-top mx-5">
                       
                    <div class="media-body">
                            
                            
                            <table class="table tab;e-striped">
                                <tbody>
                                    <tr>
                                        <th class="row">
                                            <td><h1><em>Education:</em></h1></td>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="row">
                                            <td>BTECH</td>
                                            <td>XII</td>
                                            <td>X</td>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                    <th class="row">
                                       <td>CSE</td>
                                       <td>PCM </td>
                                       <td>Science</td>
                                    </th>
                                </tr>
                                </tbody>
                                <tbody>
                                        <tr>
                                    <th class="row">
                                       <td>MDU</td>
                                       <td>CBSE</td>
                                       <td>CBSE</td>
                                    </th>
                                </tr>
                                </tbody>
                                <tbody>
                                        <tr>
                                    <th class="row">
                                       <td>60%</td>
                                       <td>83%</td>
                                       <td>74%</td>
                                    </th>
                                </tr>
                                </tbody>
                                <tbody>
                                        <tr>
                                    <th class="row">
                                       <td>2019</td>
                                       <td>2014</td>
                                       <td>2012</td>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!--  -->
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="jumboh1"><em>Skills</em></h1>
            <div id="Skills">
                <div class="row">
                    <div class="col">
                        <div class="card bg-white">
                            <h3 class="ml-3 my-3">JavaScript</h3>
                            <div class="progress mx-3">
                                <div class="progress-bar" style="width: 80%;">80%</div>
                            </div>
                            <h3 class="ml-3 my-3">NodeJS</h3>
                            <div class="progress mx-3">
                                <div class="progress-bar" style="width: 75%;">75%</div>
                            </div>
                            <h3 class="ml-3 my-3">MongoDB</h3>
                            <div class="progress mx-3">
                                <div class="progress-bar" style="width: 70%;">70%</div>
                            </div>
                            <h3 class="ml-3 my-3">ExpressJS</h3>
                            <div class="progress mx-3">
                                <div class="progress-bar" style="width: 72%;">72%</div>
                            </div>
                            <h3 class="ml-3 my-3">Java</h3>
                            <div class="progress mx-3">
                                <div class="progress-bar" style="width: 95%;">95%</div>
                            </div>
                            <h3 class="ml-3 my-3">Data Structures</h3>
                            <div class="progress mx-3">
                                <div class="progress-bar" style="width: 60%;">60%</div>
                            </div>
                            <h3 class="ml-3 m y-3">HTML</h3>
                            <div class="progress mx-3">
                                <div class="progress-bar" style="width: 90%;">90%</div>
                            </div>
                            <h3 class="ml-3 m y-3">CSS</h3>
                            <div class="progress mx-3">
                                <div class="progress-bar" style="width: 60%;">60%</div>
                            </div>
                            <h3 class="ml-3 m y-3">Bootstrap</h3>
                            <div class="progress mx-3">
                                <div class="progress-bar" style="width: 50%;">50%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--  -->

    <div class="container">
        <div class="jumbotron jombotron-fluid">
            <h1 class="jumboh1"><em>Projects</em></h1>
            <div class="container">
                <div id="Projects"></div>
                <div class="row">
                    <div class="col">
                        <div class="card bg-white">
                            <h2>Major Projects</h2>
                            <ol>
                                <h3 class="ml-3 my-3"><em>REST API</em></h3>
                                <li>
                                    <h5>A video store application programming interface based on nodejs and mongodb.
                                    </h5>
                                </li>
                                <a href="https://dashboard.heroku.com/apps/blooming-refuge-18678">Link to Project</a>
                                <h3 class="ml-3 my-3"><em>E Commerce Website</em></h3>
                                <li>
                                    <h5>A website based on nodejs and mongodb with login sign up and much more.</h5>
                                </li>
                                <a href="https://github.com/ambessh/E-CommerceWebsite">Link to Project</a>
                                <h3 class="ml-3 my-3"><em>Elementry School Data</em></h3>
                                <li>
                                    <h5>A website based on nodejs which uses API key to fetch some data over the
                                        internet in our application.</h5>
                                </li>
                                <a href="https://github.com/ambessh/elementry">Link to Project</a>
                            </ol>
                            <h2>Minor Projects</h2>
                            <ol>
                                <h3 class="ml-3 my-3"><em>Budget Calculator</em></h3>
                                <li>
                                    <h5>An application based on Vanilla JavaScript and some html and css.</h5>
                                </li>
                                <a href="https://github.com/ambessh/Budgety">Link to Project</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!--  -->

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="jumboh1"><em>Leave A Reply</em></h1>
            <div id="Contacts"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card bg-white">
                            <div class="card-header">
                                <form action="/" method="POST">

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input name ="title" id="name" type="text" placeholder="Name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input name="email" id="email" type="email" placeholder="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="textarea">Reply</label>
                                    <textarea name="description" id="textarea" id="textarea" cols="30" rows="10"
                                        class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="button"></label>
                                    <button type="submit" class="btn btn-success text-white">Submit</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h1 class="jumboh1">ThankYou for Visiting!</h1>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>